@model Schedulator.Models.ScheduleGenerator
@{
    var count = 1;
}
<script>
    

</script>

@foreach (List<Schedulator.Models.Schedule> schedule in Model.Schedules)
{
    <div id="schedCount">#@count</div>
    count++;
    using (Ajax.BeginForm("RegisterSchedule", new AjaxOptions { HttpMethod = "Post", UpdateTargetId= count.ToString() }))
    {
        <!-- Schedules results -->
        <div id="@count.ToString()"></div><!-- EO #result -->
        <input type="submit" name="register" class="btn btn-primary" value="Register">
         @Html.Partial("_ScheduleLegend", schedule)
    }
    <hr />
}
