@model Schedulator.Models.ScheduleGenerator
@{ViewBag.Title = "Schedule Generator";}
@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<!-- Title -->
<h2 id="pageTitle">@ViewBag.Title</h2>

<!-- Main Wrapper -->
<div id="mainWrapper" class="row" style="min-height:700px">

    <!-- Generator Preferences -->
    <div id="schedGenPref" class="contentBox">

        @using (Ajax.BeginForm("GenerateSchedules",new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result" })){
            <!-- Options -->
            <div id="prefOptions">
                <!-- Semesters -->
                <div class="prefs">
                    <p>Step 1: Select a semester</p>
                    <ul>
                        <li><input type="radio" name="semester" /> Summer 2015 </li>
                        <li><input type="radio" name="semester" /> Fall 2015</li>
                        <li><input type="radio" name="semester" /> Winter 2016</li>
                    </ul>
                </div>

                <!-- Courses -->
                <div class="prefs">
                    <p>Step 2: Select your courses</p>
                    <ul>
                        <li><span>Add a course: </span>@Html.TextBox("courseName")
                            <span style="margin-left:10px;"><input type="button" value="Add" /></span>
                        </li>
                        @*<li><input type="button" value="Show Me Courses from Sequence" /></li>*@
                    </ul>
                </div>

                <!-- Preferences -->
                <div class="prefs">
                    <p>Step 3: Select your preferences</p>
                    <ul id="schedPref">
                        <li><input type="checkbox" /> Most days-off</li>
                        <li><input type="checkbox" /> Morning class</li>
                        <li><input type="checkbox" /> Mid-day class</li>
                        <li><input type="checkbox" /> Night class</li>
                    </ul>
                </div>

                <div id="generatePref">
                    <input type="submit" value="Generate Schedule" class="btn btn-default" id="generateSch"/>
                </div>
            </div><!--EO #prefOptions-->
        }
    </div><!-- EO #schedGenPref-->

    <div id="divProcessing" style="display:none;">
        Processing . . . <img src="~/Content/img/ajax-loader.gif" />
    </div>

    <!-- Schedules results -->
    <div id="result"></div><!-- EO #result -->


</div><!-- EO #mainWrapper-->

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#generateSch').click(function () {
                $('#result').html('');
                $("#divProcessing").show();
            });

            $('#result').bind("DOMSubtreeModified", function () {
                $("#divProcessing").hide();
            });
        });


    </script>
}



