@model List<Schedulator.Models.Schedule>

@{
    ViewBag.Title = "Schedule Generator";
}

@Scripts.Render("Scripts/student.schedule.js")

<div class="jumbotron">
   
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">View Registered Schedules</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li class="schedule-semester" semester="RegisteredFall2014"><a tabindex="-1" href="#">Fall 2014</a></li>
            <li class="schedule-semester" semester="RegisteredWinter2015"><a tabindex="-1" href="#">Winter 2015</a></li>
            <li class="schedule-semester" semester="RegisteredSummer2015"><a tabindex="-1" href="#">Summer 2015</a></li>
        </ul>
    </div>
</div>
<div id="schedule-div">

</div>

