@model string
@{ViewBag.Title = "My Schedules";}
@Html.AntiForgeryToken()


<!-- Title -->
<h2 id="pageTitle">@ViewBag.Title</h2>


<div style="clear:both;margin-bottom:20px;margin-top:40px;">
    <ul id="mySchedSelect">
        <li>
            <h3>Fall</h3>
            <ul>
                <li class="schedule-semester" semester="Fall"><a tabindex="-1" href="#">2014</a></li>
            </ul>
        </li>
        <li>
            <h3>Winter</h3>
            <ul>
                <li class="schedule-semester" semester="Winter"><a tabindex="-1" href="#">2015</a></li>
            </ul>
        </li>
        <li>
            <h3>Summer</h3>
            <ul>
                <li class="schedule-semester" semester="Summer"><a tabindex="-1" href="#">2015</a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="schedule-div" style="clear:both"></div>




<!-- Script -->
<script src="@Url.Content("/Scripts/student.schedule.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var url = '/StudentSchedule/GetSchedule?semester=@Model';
        $("#schedule-div").load(url);
    });
</script>