<script src="@Url.Content("~/Scripts/course.autocomplete.js")" type="text/javascript"></script>
<ul class="ui-widget">
    <li>
        <span>Add a course: </span>@Html.TextBox("courseName", "", new { id = "suggestion", onkeyup = "showHint(this.value)" })
        <span style="margin-left:10px;"><input type="button" id="addCourse" value="Add" /></span>
    </li>
    <li>
        <br />
        <div class="container-fluid">
            <div class="row" id="selectedCourses">
            </div>
        </div>
    </li>
</ul>
