@model Schedulator.Models.Schedule

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-1">.col-md-1</div>
                </div>  
            </td>
            <td>Anna</td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-2">.col-md-1</div>
                </div>
            </td>
            <td>Anna</td>
        </tr>
    </tbody>
</table>