@model Schedulator.Models.Schedule
<table width="500" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" bgcolor="#FFFFFF" class="schedule">
    <tbody>
        <tr><td colspan="6">@Model.Semester.Season @Model.Semester.SemesterStart.ToString("yyyy")</td></tr>
        <tr style="background-color: #eeeeee">
            <td class="days">Time</td>
            <td class="days">Mon</td>
            <td class="days">Tue</td>
            <td class="days">Wed</td>
            <td class="days">Thu</td>
            <td class="days">Fri</td>
        </tr>
            @Html.Raw(Model.RenderSchedule())
    </tbody>
</table>
