@model Schedulator.Models.Transcript

@{
    ViewBag.Title = "View Transcript";
}

<h1>Student Transcript</h1>

@{
    <ul>
        @{
            foreach (var yearInfo in Model.TranscriptYears)
            {
                <li>Year of @Html.DisplayFor(model => yearInfo.Year)</li>
                <ul>
                    @{
                        foreach (var semester in yearInfo.TranscriptSemesters)
                        {
                            <li>Semester: @Html.DisplayFor(model => semester.Season)</li>
                            <ul>
                                @{
                                    foreach (var enrollment in semester.Enrollments)
                                    {
                                        <li>@Html.DisplayFor(modelItem => enrollment.Course.CourseLetters) @Html.DisplayFor(modelItem => enrollment.Course.CourseNumber)</li>        
                                    }
                                }
                            </ul>
                        }
                    }
                </ul>
            }
        }
    </ul>
}
