@model Schedulator.Models.Progression
@{
    ViewBag.Title = "Progression Chart";
}
@using Microsoft.AspNet.Identity
<h2>Progression Chart</h2>

@{
    foreach (var course in Model.ProgessionUnitList)
    {
        if (course.ProgressType == Schedulator.Models.ProgressType.IncompleteCourse)
        {
            <div class="panel-heading">

                <h3 class="panel-title">@course</h3>

            </div>
        }
        else if () 
        {
        }
    }
}
