.course-list-recommend
{
    list-style-type: none;
}
.contentBox {

  background: white;
  border: 1px solid #CECECE;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.12);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,.12);
  -o-box-shadow: 0 0 6px rgba(0,0,0,.12);
  box-shadow: 0 0 6px rgba(0,0,0,.12);
}

/* Schedule Generator */
#schedGenPref {
  min-height: 120px;
  margin-bottom: 40px;
  padding: 25px;
  letter-spacing: 1px;
  background-color:#eee;
  border-radius:5px;
}

#schedGenPref .prefs {
    border-bottom: 1px solid #CECECE;
    padding: 15px;
}

#schedGenPref .prefs p {
    font-weight:bold;
    font-size: 15px;
}

#schedGenPref .prefs ul {
    padding-left: 45px;
}

#schedGenPref .prefs ul li {
    list-style:none;
}

#generatePref {
    text-align:right;
}

/* Sched Gen Legend*/
.schedLegend {
    margin-top:15px;
    margin-right:5px;
}

.courseHeader {
    padding: 2px;
}

#schedCount {
    font-weight:bold;
    font-size: 22px;
    background-color:#EEE;
    padding:10px;
    margin-bottom: 10px;
}

#genBtns {
    list-style:none;
    margin:0;
    padding:0;
    padding-top:2%;
}

#genBtns li {
    display:inline-block;
}

#genBtns li:last-child {
    float:right;
}